trigger:
- main

pool:
  name: Default   # WSL self-hosted agent

variables:
  IMAGE_NAME: nodejs-apppp
  DOCKERHUB_USERNAME: your_dockerhub_username
  HELM_RELEASE: nodejs-app
  HELM_CHART_PATH: helm-chart

stages:
- stage: Build
  jobs:
  - job: BuildImage
    steps:
    - checkout: self

    - script: |
        echo "Building Docker image locally"
        docker build -t $(IMAGE_NAME):latest .
      displayName: 'Build Docker Image'

- stage: Push
  dependsOn: Build
  jobs:
  - job: PushImage
    steps:
    - task: Docker@2
      displayName: 'Login to Docker Hub'
      inputs:
        command: login
        containerRegistry: dockerhub-connection

    - script: |
        docker tag $(IMAGE_NAME):latest $(DOCKERHUB_USERNAME)/$(IMAGE_NAME):latest
        docker push $(DOCKERHUB_USERNAME)/$(IMAGE_NAME):latest
      displayName: 'Push Docker Image'

- stage: Deploy
  dependsOn: Push
  jobs:
  - job: DeployLocal
    steps:
    - script: |
        echo "Deploying to Minikube"

        # Ensure minikube is running
        minikube status

        # Set kubectl context explicitly
        kubectl config use-context minikube

        # Deploy using Helm
        helm upgrade --install $(HELM_RELEASE) $(HELM_CHART_PATH) \
          --namespace default \
          --create-namespace \
          --set image.repository=$(DOCKERHUB_USERNAME)/$(IMAGE_NAME) \
          --set image.tag=latest
      displayName: 'Deploy to Minikube using Helm'
